.App {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  background-color: #c74926;
}

.App h1 {
  font-size: 5.5em;
  font-family: "Playfair Display", serif;
  font-style: italic;
  letter-spacing: 0.03em;
}

@media (max-width: 360px) {
  .App h1 {
    font-size: 5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .App h1 {
    font-size: 5em;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .App h1 {
    font-size: 6.6em;
  }
}

@media (min-width: 1681px) {
  .App h1 {
    font-size: 6.6em;
  }
}

.App h2 {
  font-size: 2.7em;
}

@media (max-width: 360px) {
  .App h2 {
    font-size: 2.45em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .App h2 {
    font-size: 2.45em;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .App h2 {
    font-size: 3.24em;
  }
}

@media (min-width: 1681px) {
  .App h2 {
    font-size: 3.24em;
  }
}

.App h3 {
  font-size: 1.7em;
}

@media (max-width: 360px) {
  .App h3 {
    font-size: 1.55em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .App h3 {
    font-size: 1.55em;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .App h3 {
    font-size: 2.04em;
  }
}

@media (min-width: 1681px) {
  .App h3 {
    font-size: 2.04em;
  }
}

.App p,
.App span {
  font-size: 1.125em;
}

@media (max-width: 360px) {
  .App p,
  .App span {
    font-size: 1.025em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .App p,
  .App span {
    font-size: 1.025em;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .App p,
  .App span {
    font-size: 1.35em;
  }
}

@media (min-width: 1681px) {
  .App p,
  .App span {
    font-size: 1.35em;
  }
}

.App nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 2.5em;
  z-index: 10;
  background: lightblue;
}

.App nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin: auto;
}

@media (min-width: 481px) and (max-width: 736px) {
  .App nav div {
    width: 100%;
  }
}

.App nav div p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  margin: 0;
  cursor: pointer;
}

@media (max-width: 360px) {
  .App nav div p {
    font-size: 1.14em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .App nav div p {
    font-size: 1.14em;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .App nav div p {
    font-size: 1.5em;
  }
}

@media (min-width: 1681px) {
  .App nav div p {
    font-size: 1.5em;
  }
}

.App nav div .active {
  color: #7c7c7c;
}

.App section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.home {
  height: 100vh;
  background-image: url("../assets/images/sunset_red.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  z-index: 0;
}

.home h1 {
  margin: 40vh auto 0;
}

.home h2 {
  margin-top: 0.1em;
}

.home .bobber {
  width: 5em;
  height: 5.2em;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(49%, white), color-stop(49%, #ffdcdc), color-stop(51%, #b1b0b0), color-stop(51%, red));
  background: linear-gradient(0deg, white, white 49%, #ffdcdc 49%, #b1b0b0 51%, red 51%);
  position: absolute;
  right: 3.5%;
  bottom: 3.5%;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 360px) {
  .home .bobber {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .bobber {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .bobber {
    display: none;
  }
}

.home .bobber p {
  text-align: center;
  font-size: 1.125em;
}

.about {
  padding-bottom: 5em;
  background: #312a26;
  color: white;
}

@media (max-width: 360px) {
  .about {
    margin-bottom: 3.5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .about {
    margin-bottom: 3.5em;
  }
}

.about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: auto 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 360px) {
  .about div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: auto 2%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .about div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: auto 2%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .about div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: auto 2%;
  }
}

.about div img {
  margin: auto 0;
  width: 25%;
}

@media (max-width: 360px) {
  .about div img {
    min-width: 170px;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .about div img {
    min-width: 170px;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .about div img {
    min-width: 170px;
  }
}

.about div .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

@media (max-width: 360px) {
  .about div .desc {
    width: 90%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .about div .desc {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .about div .desc {
    width: 90%;
  }
}

.about div .desc .desc-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 481px) and (max-width: 736px) {
  .about div .desc .desc-left {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 1em;
  }
  .about div .desc .desc-left p {
    width: 45%;
    margin: 1em auto;
  }
}

.work {
  padding-bottom: 2em;
  background-color: #e76f2f;
}

.work h2 {
  margin-bottom: 0;
}

.work .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 360px) {
  .work .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .work .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .work .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work .projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 360px) {
  .work .projects .project {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .work .projects .project {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .work .projects .project {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
  }
}

.work .projects .project h3 {
  margin: 1em auto 0.8em;
}

.work .projects .project img {
  width: 16em;
  height: 16em;
  margin: 0 auto 0.5em;
}

.work .projects .project .project2 {
  height: 12em;
  margin: 2em auto;
}

.work .projects .project p {
  width: 80%;
  margin: 0em auto 1.1em;
  text-align: center;
}

.work .projects .project .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 360px) {
  .work .projects .project .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .work .projects .project .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .work .projects .project .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work .projects .project .btns a {
  margin: 0 auto;
}

@media (max-width: 360px) {
  .work .projects .project .btns a {
    margin-bottom: 0.5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .work .projects .project .btns a {
    margin-bottom: 0.5em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .work .projects .project .btns a {
    margin-bottom: 0.5em;
  }
}

.work .projects .project .btns a button {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 0.3em 0.5em;
  color: white;
  background-color: black;
  border-radius: 0.5em;
}

.contact {
  background-color: #c74926;
}

.contact h2 {
  margin: 1em auto 0;
}

.contact span {
  visibility: hidden;
  position: absolute;
}

.contact .message-sent {
  visibility: visible;
  position: relative;
  width: 70%;
  margin: 0 auto;
  -webkit-transition: 700ms ease-in-out all;
  transition: 700ms ease-in-out all;
  background: lightgreen;
  border: 2px solid green;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 2em auto;
  max-width: 60em;
}

@media (max-width: 360px) {
  .contact form {
    margin: 0 auto 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .contact form {
    margin: 0 auto 1em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .contact form {
    margin: 0 auto 1em;
  }
}

.contact form .field {
  font-size: 1em;
  line-height: 2em;
  margin-bottom: 1em;
  background: #e6c9c1;
}

@media (max-width: 360px) {
  .contact form .field {
    font-size: 0.9em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .contact form .field {
    font-size: 0.9em;
  }
}

.contact form .text {
  font-size: 1.5em;
}

@media (max-width: 360px) {
  .contact form .text {
    font-size: 1.36em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .contact form .text {
    font-size: 1.36em;
  }
}

.contact form #submit-btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  background: black;
  color: white;
  border: 2px outset black;
  border-radius: 0.25em;
  padding: 0.3em 0.5em;
}

@media (max-width: 360px) {
  .contact form #submit-btn {
    font-size: 0.9em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .contact form #submit-btn {
    font-size: 0.9em;
  }
}

.contact .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
  margin: 0.2em auto 1.8em;
}

@media (max-width: 360px) {
  .contact .icons {
    width: 40%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .contact .icons {
    width: 40%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .contact .icons {
    width: 40%;
  }
}
/*# sourceMappingURL=App.css.map */