@import "./breakpoints/BreakPoints.scss";

.App {
  text-align: center;
  font-family: "Quantico", sans-serif;
  //todo backup font?

  h1 {
    font-size: 5.5em;
    @include breakpoint(xxs, xs) {
      font-size: 5em;
      // @debug (5.5em/1.1em);
    }
    @include breakpoint(xl, xxl) {
      font-size: 5.5 * 1.2em;
    }
  }

  h2 {
    font-size: 2.7em;
    @include breakpoint(xxs, xs) {
      font-size: 2.45em;
    }
    @include breakpoint(xl, xxl) {
      font-size: 2.7 * 1.2em;
    }
  }

  h3 {
    font-size: 1.7em;
    @include breakpoint(xxs, xs) {
      font-size: 1.55em;
    }
    @include breakpoint(xl, xxl) {
      font-size: 1.7 * 1.2em;
    }
  }

  p,
  span {
    font-size: 1.125em;
    @include breakpoint(xxs, xs) {
      font-size: 1.025em;
    }
    @include breakpoint(xl, xxl) {
      font-size: 1.125 * 1.2em;
    }
  }

  nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 2.5em;
    z-index: 10;
    background: rgb(170, 170, 170);
    background: lightblue;

    // @include breakpoint(xxs, xs) {
    //   display: none;
    // }
    // @include breakpoint(xxs) {
    //   background: red;
    // }
    // @include breakpoint(xs) {
    //   background: orange;
    // }
    // @include breakpoint(s) {
    //   background: rgb(204, 193, 32);
    // }
    // @include breakpoint(m) {
    //   background: green;
    // }
    // @include breakpoint(l) {
    //   background: lightblue;
    // }
    // @include breakpoint(xl) {
    //   background: purple;
    //   //todo xl breakpoint not working??
    // }
    // @include breakpoint(xxl) {
    //   background: white;
    // }

    div {
      display: flex;
      justify-content: space-around;
      width: 60%;
      margin: auto;

      @include breakpoint(s) {
        width: 100%;
      }

      p {
        font-family: "Lemonada";
        font-size: 1.25em;
        @include breakpoint(xxs, xs) {
          font-size: 1.14em;
        }
        @include breakpoint(xl, xxl) {
          font-size: 1.25 * 1.2em;
        }
        margin: 0;
        cursor: pointer;
      }

      .active {
        color: rgb(124, 124, 124);
        // color: rgb(58, 147, 177);
      }
    }

    // .progress-bar {
    //   position: absolute;
    //   // display: flex;
    //   // justify-content: space-around;
    //   height: 2.5em;
    //   z-index: -1;

    //   .bar-outline {
    //     position: relative;
    //     // display: flex;
    //     height: 100%;
    //     width: 100%;
    //     margin: auto;
    //     // background: purple;

    //     .bar {
    //       height: 100%;
    //       margin-left: 0;
    //       // border: 1px solid grey;
    //       // border-top-right-radius: 10%;
    //       // border-bottom-right-radius: 10%;
    //       transition: ease-in-out;
    //       transition-duration: 700;
    //       background: grey;
    //     }
    //   }
    // }
  }

  section {
    display: flex;
    flex-direction: column;
    position: relative;

    // .next {
    //   font-family: "Lemonada";
    //   color: orangered;
    //   position: absolute;
    //   margin: auto;
    //   bottom: 0.2em;
    //   left: 0;
    //   right: 0;
    //   font-size: 1.65em;
    //   line-height: 0.9em;
    // }
  }
}

.home {
  height: 100vh;

  h1 {
    font-family: "Adistro";
    margin: 40vh auto 0;
  }
  h2 {
    margin-top: 0.1em;
  }

  img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
  }

  .bobber {
    //todo fix breaking text
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    background: linear-gradient(
      0deg,
      white,
      white 49%,
      rgb(255, 220, 220) 49%,
      rgb(177, 176, 176) 51%,
      red 51%
    );
    position: absolute;
    right: 3.5vh;
    bottom: 3.5vh;
    cursor: pointer;

    @include breakpoint(xxs, xs, s) {
      display: none;
    }

    @include breakpoint(m) {
      width: 7vw;
      height: 7vw;
    }

    .bobber-top {
      border: 0.125em solid white;
      width: 0.5vw;
      margin: -0.25em auto;
      z-index: -1;
    }
    p {
      margin-top: 1.2vw;
      overflow: hidden;
      @include breakpoint(m) {
        margin-top: 1.5vw;
      }
    }
  }
}

.about {
  margin-bottom: 5em;
  @include breakpoint(xxs, xs) {
    margin-bottom: 3.5em;
  }

  div {
    display: flex;
    padding: auto 10%;

    @include breakpoint(xxs, xs, s) {
      flex-direction: column;
      padding: auto 2%;
    }

    img {
      margin: auto;
      border: 2px solid black;
      width: 25%;
      height: 50vh;
      @include breakpoint(xxs, xs, s) {
        height: 25vh;
        width: 25vw;
        min-width: 170px;
      }
    }

    .desc {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 40%;
      @include breakpoint(xxs, xs, s) {
        width: 90%;
      }
      .desc-left {
        flex-direction: column;
        @include breakpoint(s) {
          width: 100%;
          flex-direction: row;
          margin-top: 1em;
          p {
            width: 45%;
            margin: 1em auto;
          }
        }
      }
    }
  }
}

.work {
  margin-bottom: 2em;
  h2 {
    margin-bottom: 0;
  }

  .projects {
    display: flex;
    justify-content: space-around;

    @include breakpoint(xxs, xs, s) {
      flex-direction: column;
    }

    .project {
      display: flex;
      flex-direction: column;
      width: 32%;

      @include breakpoint(xxs, xs, s) {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
      }

      h3 {
        margin: 1em auto 0.8em;
      }

      img {
        width: 16em;
        height: 16em;
        margin: auto;
      }
      .project2 {
        height: 12em;
      }

      p {
        width: 80%;
        margin: 1em auto 1.1em;
        text-align: justify;
      }

      a {
        margin: 0 auto;

        button {
          font-size: 1.2em;
          margin: 0 auto;
          padding: 0.3em 0.5em;
          color: white;
          background-color: black;
          border-radius: 0.5em;
        }
      }
    }
  }
}

.contact {
  h2 {
    margin: 1em auto 0;
  }
  span {
    visibility: hidden;
    position: absolute;
  }
  .message-sent {
    visibility: visible;
    position: relative;
    width: 70%;
    margin: 0 auto;
    transition: 700ms ease-in-out all;

    background: lightgreen;
    border: 2px solid green;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em auto;

    @include breakpoint(xxs, xs, s) {
      margin: 0 auto 1em;
    }

    .field {
      font-size: 1em;
      line-height: 2em;
      margin-bottom: 1em;

      @include breakpoint(xxs, xs) {
        font-size: 0.9em;
      }
    }

    .text {
      font-size: 1.5em;

      @include breakpoint(xxs, xs) {
        font-size: 1.36em;
      }
    }

    #submit-btn {
      font-size: 1em;
      background: black;
      color: white;
      border: 2px outset black;
      border-radius: 0.25em;
      @include breakpoint(xxs, xs) {
        font-size: 0.9em;
      }
    }
  }

  .icons {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: 0.2em auto 2em;
    @include breakpoint(xxs, xs, s) {
      width: 40%;
    }
  }
}
